
<!-- Movie cards -->
<div class="movie-cards">
  <div *ngFor="let movie of watchlistMovies" class="card">
    <a [routerLink]="['/movie/', movie.id]" class="image-link">
      <img [src]="movie.image" alt="{{ movie.Title }}" class="movie-image">
    </a>

    <div class="movie-details">
      <div class="header-bar">
        <button (click)="removeFromWatchlist(movie)" [ngClass]="{'watchlist-active': movie.isInWatchlist}">
          <i class="fa fa-heart"></i>
        </button>
      </div>

      <h2>{{ movie.Title }}</h2>
      <p class="description">{{ movie.Description }}</p>
      <p><strong>Rating:</strong> {{ movie.Rating }}</p>
      <p><strong>Duration:</strong> {{ movie.Duration }}</p>
    </div>
  </div>
</div>
